!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}/
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		/ The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
		%meta{:content => "", :name => "description"}/
		%meta{:content => "", :name => "author"}/
		%link{:href => "favicon.ico", :rel => "icon"}/
		%title Project Name
		/ Bootstrap core CSS
		%link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
		/ Custom styles for this template
		%link{:href => "css/project.css", :rel => "stylesheet"}/
		/ Just for debugging purposes. Don't actually copy these 2 lines!
		/[if lt IE 9] <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
		/%script{:src => "js/ie-emulation-modes-warning.js"}
		/ HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		/[if lt IE 9]
		/<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		/<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	%body
		%nav.navbar.navbar-inverse.navbar-fixed-top
			.container-fluid
				.navbar-header
					%button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
						%span.sr-only Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.navbar-brand{:href => "#"} Project Name
				#navbar.navbar-collapse.collapse
					%ul.nav.navbar-nav.navbar-right
						%li
							%a{:href => "#"} Dashboard
						%li
							%a{:href => "#"} Settings
						%li
							%a{:href => "#"} Profile
						%li
							%a{:href => "#"} Help
					%form.navbar-form.navbar-right
						%input.form-control{:placeholder => "Search...", :type => "text"}/
		.container-fluid
			.row
				.col-sm-3.col-md-2.sidebar
					%ul.nav.nav-sidebar
						%li.active
							%a{:href => "#\t"}
								Overview
								%span.sr-only (current)
						%li
							%a{:href => "#"} Reports
						%li
							%a{:href => "#"} Analytics
						%li
							%a{:href => "#"} Export
					%ul.nav.nav-sidebar
						%li
							%a{:href => ""} Nav item
						%li
							%a{:href => ""} Nav item again
						%li
							%a{:href => ""} One more nav
						%li
							%a{:href => ""} Another nav item
						%li
							%a{:href => ""} More navigation
					%ul.nav.nav-sidebar
						%li
							%a{:href => ""} Nav item again
						%li
							%a{:href => ""} One more nav
						%li
							%a{:href => ""} Another nav item
				.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					#page_content= yield
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
		%script{:src => "js/bootstrap.min.js"}